<div class="card-group">
    <div class="card" style="width: 18rem; margin-left: 20px;">
        <div class="card-header pt-20 bg-success">
            My ToDos
        </div>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <p class="card-text">Reading a Book</p>
          <h5 class="card-title">Interval</h5>
          <p class="card-text">Daily</p>
          <h5 class="card-title">Priority</h5>
          <p class="card-text">Medium</p>
        </div>
      </div>
    
      <div class="card" style="width: 18rem;  margin-left: 20px;">
        <div class="card-header pt-20 bg-success">
            My ToDos
        </div>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <p class="card-text">Completing Office Tasks</p>
          <h5 class="card-title">Interval</h5>
          <p class="card-text">Daily</p>
          <h5 class="card-title">Priority</h5>
          <p class="card-text">High</p>
        </div>
      </div>

      <div class="card" style="width: 18rem;  margin-left: 20px;">
        <div class="card-header pt-20 bg-success">
            My ToDos
        </div>
        <div class="card-body">
          <h5 class="card-title">Task</h5>
          <p class="card-text">Exercising</p>
          <h5 class="card-title">Interval</h5>
          <p class="card-text">Daily</p>
          <h5 class="card-title">Priority</h5>
          <p class="card-text">Medium</p>
        </div>
      </div> 
    </div>

    <div>
      <button type="submit" class="btn btn-primary" (click)="goBack()">Go Back</button>
     </div> 